@model Room_Booking.ViewModel.BookingVM

@{
    ViewBag.Title = "Cancel Booking";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Cancel Booking</h2>

<h3>Are you sure you want to Cancel this?</h3>
<div>
    <h4>Booking</h4>
    <hr />
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                @Html.DisplayNameFor(model => model.roomId)
            </div>
            <div class="col-sm-8">
                @Html.DisplayFor(model => model.roomName)
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4">
                @Html.DisplayNameFor(model => model.customerId)
            </div>
            <div class="col-sm-8">
                @Html.DisplayFor(model => model.customerName)
            </div>
        </div>


        <div class="row">
            <div class="col-sm-4">
                @Html.DisplayNameFor(model => model.status)
            </div>
            <div class="col-sm-8">
                @Html.DisplayFor(model => model.status.Value)
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <input type="submit" value="Cancel Booking" class="btn btn-default" /> |
                        @Html.ActionLink("Back to List", "Index")
                    </div>
                }
            </div>
            
        </div>



    </div>


   
</div>
